
<a href="<%= @artwork.file_url %>"><img src="<%= @artwork.file_url(:thumb) %>"></a>

<div>                
  <p><b>Name:</b> <%= @artwork.title %></p>
  <p><b>Date:</b> <%= @artwork.date %></p>
  <p><b>Medium:</b> <%= @artwork.medium %></p>
  <p><b>Dimensions:</b> <%= @artwork.dimensions %></p>
  <p><b>Notes:</b> <%= @artwork.notes %></p>
	<% @artwork.categories.each do |category| %>
      <p><b>Category:</b><%=category.name%></p>
  <%end%>
</div>

<form action="/artworks/<%= @artwork.slug %>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  
  <input type="submit" value="Delete Artwork">
</form>