<div class="active-user">
  <div class="logout">
    <p><a href="/logout">log out</a></p>
  </div>
  <p><%=@current_user.username%></p>
</div>

<div id="db-icon">
  <a href="/"><img src="../../images/db-icon.svg"></a>
</div>

<div>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <%end%>
</div>

<div class="container">
  <div class="recent-header">
    <div class="header-title">
      <p>Edit Material / <%= @material.name %></p>
    </div>

    <div class="recent-divider"></div>
  </div>

  <div class="attributes-container">

    <form action="/materials/<%= @material.slug %>" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PATCH">
      <br>
      <img src="<%= @material.file_url(:thumb) %>"/><br>
      <input type="file" name="material[file]" value="<%= @material.file_url %>"/>
      <br><br>

      <label>Name:</label><br>
      <input type="text" name="material[name]" value="<%=@material.name%>"/>
      <br><br>

      <label>Purchase Location:</label> <br>
      <input type="text" name="material[purchase_location]" value="<%=@material.purchase_location%>"/>
      <br><br>

      <label>Price:</label> <br>
      <input type="text" name="material[price]" value="<%=@material.price%>"/>
      <br><br>

      <label>Quantity:</label> <br>
      <input type="text" name="material[quantity]" value="<%=@material.quantity%>"/>
      <br><br>

      <label>Serial:</label> <br>
      <input type="text" name="material[serial]" value="<%=@material.serial%>"/>
      <br><br>

      <label>Notes:</label><br>
      <textarea name="material[notes]" rows="4" cols="50"><%=@material.notes%></textarea>
      <br><br>

      <label>Edit category:</label>
      <div class="select-box">
        <ul>
    			<% Category.all.each do |category| %>	
    				<%@all_categories = category.name %>
    				<%if @material_category.uniq.include? @all_categories%>
    	        <li>
    	          <input type="checkbox" name="material[category_ids][]" value="<%=category.id%>" <%='checked' if @material.categories.include?(category) %>> <%=category.name%> &nbsp;&nbsp;</input>
    	        </li>
    	      <%end%>
          <%end%>
        </ul>
      </div>  

      <br>
      <p>or create a new category:</p>
      <input type="text" name="category[name]"></input>

      <br><br>

      <label style="margin-top:15px;" >Edit existing artworks:</label>
      <div style="padding-top: 10px;" class="select-box"> 
         
        <% Category.all.each do |category| %> 
        <%@all_categories = category.name %>
          <%if @artwork_category.uniq.include? @all_categories%>
            <div style="display: inline-block;"class="artwork-material">
              <u><%= category.name %></u>
              <ul style="width: 250px; margin-bottom:10px; list-style: none; height: 90px; overflow: auto; background-color: #f0f0f0; padding: 2px 15px 2px 5px;">
                <% category.artworks.each do |artwork| %>
                  <li>
                  <input type="checkbox" name="material[artwork_ids][]" value="<%=artwork.id%>" <%='checked' if @material.artworks.include?(artwork) %>> <%=artwork.title%> &nbsp;&nbsp;</input>
                  </li>
                <%end%>
              </ul>
            </div>
          <%end%>
        <%end%>
      </div>

      <br>
      <input type="submit" id="submit" value="Update Material"/>
    </form>
  </div>
</div>

<div class="bottom-spacer"></div>