<div class="active-user">
  <div class="logout">
    <p><a href="/logout">log out</a></p>
  </div>
  <p><%=@current_user.username%></p>
</div>

<div id="db-icon">
  <a href="/"><img src="images/db-icon.svg"></a>
</div>

<div class="container">
  <div class="header">
    <div class="header-title">
      <p>Materials</p>
    </div>
    <div class="header-view">
      <p><a href="/materials/recently-added">View by recently added</a></p>
      <p> | </p>
      <p><a href="/artworks">Go to Artworks page →</a></p>
    </div>
    <div class="header-functions">
      <a href="/materials/new"><p><i class="material-icons">&#xe145;</i> ADD MATERIAL</p></a>
    </div>
  </div>
  
  <% Category.order("id DESC").all.each do |category| %> 
  	<%if @material_category.uniq.include? category.id%>
      <%category.materials.each_with_index {|material, i| @counted = i+=1 }%>
      
      <div class="index-divider"></div>
      <div class="category-row">
        <a href="/materials/categories/<%= category.slug %>">
          <div class="category-sq">
            <div class="category-name"><p><%= category.name %></p></div>
            <div class="item-number"><p><%= @counted %> items</p></div>
          </div>  
        </a> 
      </div>

      <div class="row">
    		<% category.materials.order("id DESC").first(4).each do |material| %>
          <div class="item-group">
            <div style="margin-left:10px; margin-right:10px;">
              <a href="/materials/<%= material.slug %>">
                <div class="item-sq"><img src="<%= material.file_url(:thumb) %>"></div>
              </a>

              <a href="/materials/<%= material.slug %>">
                <div class="item-name"><p><%= material.name %></p></div>
              </a>
            </div>
          </div>
  			<%end%>
      </div>
      
    <%end%>
  <%end%>
</div>

<div class="bottom-spacer"></div>