<div class="active-user">
  <div class="logout">
    <p><a href="/logout">log out</a></p>
  </div>
  <p><%=@current_user.username%></p>
</div>

<div id="db-icon">
  <a href="/"><img src="../images/db-icon.svg"></a>
</div>

<div class="container">
	<div class="message">
    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <%end%>
  </div>
  
  <div class="recent-header">
    <div class="header-title">
      <p>Create new material</p>
    </div>

    <div class="recent-divider"></div>
  </div>

  <div class="attributes-container">

	<form action="/materials" method="POST" enctype="multipart/form-data">
	  <label>Image:</label>
	  <br>
	  <input type="file" name="material[file]"/>
	  <br>

	  <label>Name:</label><br>
	  <input type="text" name="material[name]"/>
	  <br><br>

	  <label>Purchase Location:</label><br>
	  <input type="text" name="material[purchase_location]"/>
	  <br><br>

	  <label>Price:</label> <br>
	  <input type="text" name="material[price]"/>
	  <br><br>

	  <label>Quantity:</label><br>
	  <input type="text" name="material[quantity]"/>
	  <br><br>

	  <label>Serial:</label><br>
	  <input type="text" name="material[serial]"/>
	  <br><br>

	  <label>Notes:</label><br>
	  <textarea name="material[notes]" rows="4" cols="50"></textarea>
	  <br><br>

		<div style="margin-top:30px">
	    <label>Choose category:</label>
	    <div class="select-box">
	      <ul>
	  			<%Category.all.each do |category| %> 
	  				<%@all_categories = category.name %>
	  				<%if @material_category.uniq.include? @all_categories%>
	  	        <li>
	  	          <input type="checkbox" name="material[category_ids][]" value="<%=category.id%>"> 
	  	            <%=category.name %>
	  	          </input>
	  	        </li>
	  	      <%end%>
	        <%end%>
	      </ul>
	    </div>

	    </br>
	      <div>
	        <label>or create a new category:</label><br>
	        <input type="text" name="category[name]"></input>
	      </div>
	    <br><br>

	    <label>Used in existing artwork:</label>

	    <div class="select-box">
	      <%Category.all.each do |category| %> 
	        <%@all_categories = category.name %>
	        <%if @artwork_category.uniq.include? @all_categories%>
	          <div style="display: inline-block;" class="artwork-material">
	            <u>
	              <a href="/artworks/categories/<%= category.slug %>" style="color: #333;"><%= category.name %>
	              </a>
	            </u>
	            <ul>
	              <% category.artworks.each do |artwork| %>
	                <li>
	                <input type="checkbox" name="material[artwork_ids][]" value="<%=artwork.id%>"> <%=artwork.title%> &nbsp;&nbsp;</input>
	                </li>
	              <%end%>
	            </ul>
	          </div>
	        <%end%>
	      <%end%>
	    </div>

	    <input style="margin-top: 20px" type="submit" id="submit" value="Create New Material"/>
	  </div>
	</form>
	</div>
</div>

<div class="bottom-spacer"></div>